.admin-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 120px;
  background-color: #f8f9fa; /* Optional: Add background color */
  padding: 10px; /* Optional: Add padding */
}

.dashboard {
  flex-grow: 1;
  padding: 10px; /* Optional: Add padding */
}