@import "assets/_variables.css";
@import "bootstrap/scss/bootstrap.scss";

body {
  background-color:$pastel-background; // Set pastel background
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
