<div class="table-header-container">
  <div class="table-header">User Management</div>
  @if (!isLoading() && !error()) {
    <div class="search-bar-container">
      <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" placeholder="Search..." class="search-bar" /> <!--[(ngModel)]="searchTerm" (input)="filterProducts()" -->
      </span>
      <button pButton type="button" icon="pi pi-plus" class="create-button" (click)="registerUser()"></button>
    </div>
  }
</div>

  <!-- Loading Indicator -->
  @if (isLoading()) {
    <div class="loading-indicator">
      <p>Loading users...</p>
    </div>
  }

  <!-- Error Message -->
  @if (error()) {
    <div class="error-message">
      <p>{{ error() }}</p>
    </div>
  }

  @if (!isLoading() && !error()) {
    <div class="table-responsive">
      <p-table [value]="users()" stripedRows [responsiveLayout]="'scroll'" class="table table-hover">
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Name</th>
            <th>Role</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.roles[0] }}</td>
            <td>{{ user.enabled ? 'Enabled' : 'Disabled' }}</td>
            <td>
              <div class="button-container">
                <button pButton type="button" label="Edit" (click)="editUser(user)" class="p-button-primary"></button>
                <button pButton type="button" label="Delete" (click)="deleteUser(user.id)" class="p-button-danger"></button>
              </div>              
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  }

  
