<div class="table-header-container" [attr.inert]="isModalOpen ? true : null">
  <div class="table-header">Inventory Management</div>
  <div class="search-bar-container">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input pInputText type="text" placeholder="Search..." [(ngModel)]="searchTerm" (input)="filterProducts()" class="search-bar" />
    </span>
    <div class="mui-split-button-container">
      <span class="create-label">
        Create
      </span>
      <button class="split-button-dropdown" (click)="toggleMenu($event)">
        <i class="pi pi-chevron-down"></i>
      </button>

      <div *ngIf="isMenuOpen" class="split-menu">
        <button *ngFor="let item of menuItems; let i = index" (click)="openModal(i)" class="menu-item">
          <i [class]="item.icon"></i> {{ item.label }}
        </button>
      </div>
    </div>
  </div>
</div>

<mat-tab-group [attr.inert]="isModalOpen ? true : null">
  <mat-tab label="Full Inventory">
    <div class="table-responsive">
      <p-table [value]="filteredProducts" [responsiveLayout]="'scroll'" class="table table-hover">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of cols">{{ col.header }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td *ngFor="let col of cols">
              <ng-container [ngSwitch]="col.field">
                <ng-container *ngSwitchCase="'is_active'">
                  <p-tag [value]="product[col.field] ? 'Active' : 'Inactive'"></p-tag>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  {{ product[col.field] }}
                </ng-container>
              </ng-container>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </mat-tab>

  <mat-tab label="Summary View">
    <div class="mt-4 d-flex align-items-center mb-3">
      <mat-form-field  class="custom-mat-form-field">
        <mat-select  class="custom-mat-select" [(ngModel)]="selectedFilter" (ngModelChange)="onFilterChange($event)">

          <mat-option placeholder="Fliter by" *ngFor="let option of filterOptions" [value]="option.value" class="custom-mat-option">
            {{ option.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="table-responsive">
      <!-- Filter container with Bootstrap grid -->
      <!-- Table -->
      <p-table [value]="filteredProducts" [responsiveLayout]="'scroll'" class="table table-hover">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of limitedCols">{{ col.header }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td *ngFor="let col of limitedCols">
              {{ product[col.field] }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </mat-tab>
</mat-tab-group>
