<div class="table-header-container">
  <div class="table-header">Inventory Management</div>
  <div class="search-bar-container">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" placeholder="Search..." [(ngModel)]="searchTerm" (input)="filterProducts()" class="search-bar" />
        </span>
    <div class="mui-split-button-container">
      <span class="create-label" (click)="allocateProducts(event)">
        Create
      </span>
      <button class="split-button-dropdown" (click)="toggleMenu($event)">
        <i class="pi pi-chevron-down"></i>
      </button>

        <div *ngIf="isMenuOpen" class="split-menu">
            <button *ngFor="let item of menuItems" (click)="item.command()" class="menu-item">
                <i [class]="item.icon"></i> {{ item.label }}
            </button>

        </div>
    </div>

  </div>
</div>

<mat-tab-group>
  <mat-tab label="Full Inventory">
    <div class="table-responsive">
      <p-table [value]="filteredProducts" [responsiveLayout]="'scroll'" class="table table-hover">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of cols">{{ col.header }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td *ngFor="let col of cols">
              <ng-container [ngSwitch]="col.field">
                <ng-container *ngSwitchCase="'is_active'">
                  <p-tag [value]="product[col.field] ? 'Active' : 'Inactive'"></p-tag>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  {{ product[col.field] }}
                </ng-container>
              </ng-container>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </mat-tab>

  <mat-tab label="Summary View">
    <div class="table-responsive">
      <p-table [value]="filteredProducts" [responsiveLayout]="'scroll'" class="table table-hover">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of limitedCols">{{ col.header }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td *ngFor="let col of limitedCols">
              {{ product[col.field] }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </mat-tab>
</mat-tab-group>

<!-- Allocate Product Dialog -->
<p-dialog [(visible)]="displayAllocateDialog" modal header="Allocate Product" [style]="{width: '400px'}">
    <div class="dialog-content">
        <p>Form for allocating products goes here...</p>
    </div>
    <ng-template pTemplate="footer">
        <button pButton label="Cancel" icon="pi pi-times" (click)="closeDialogs()" class="p-button-text"></button>
        <button pButton label="Allocate" icon="pi pi-check" class="p-button-primary"></button>
    </ng-template>
</p-dialog>

<!-- Import Product Dialog -->
<p-dialog [(visible)]="displayImportDialog" modal header="Import Products" [style]="{width: '400px'}">
    <div class="dialog-content">
        <p>Form for importing products goes here...</p>
    </div>
    <ng-template pTemplate="footer">
        <button pButton label="Cancel" icon="pi pi-times" (click)="closeDialogs()" class="p-button-text"></button>
        <button pButton label="Import" icon="pi pi-upload" class="p-button-primary"></button>
    </ng-template>
</p-dialog>
